/*
 * @Author : vshow
 * @Date   : 2021-06-19 19:43
 * @WeChat : i-vshow
 * @Email  : vshow@dooomi.com
 * @Blog   : http://dooomi.com
 */

$primary: #f14196;

$text-main: rgba(0, 0, 0, 0.85);
$text-minor: rgba(0, 0, 0, 0.65);
$text-regular: rgba(0, 0, 0, 0.45);

$background: #f4f5f6;
$linear-gradient: linear-gradient(90.07deg, #d14dec 1.42%, #f64d95 101.18%), #c4c4c4;

:export {
  primary: $primary;
}
